* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(244, 233, 241)
}

.header-cozy {
    background-color: #9DCFC0;
    width: 100%;
    height: 100px;
    display: flex;
    padding: 1rem 1.5rem;
}

footer {
    background-color: antiquewhite;
}

html {
    font-size: 100%; 
}

li {
    list-style: none;
}

a {
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-left: 35px;
    text-decoration: none;
}

a[href$="about.html"] {
    background-image: url(images/about.png);
    background-size: contain;
}

a[href$="guides.html"] {
    background-image: url(images/gameguides.png);
    background-size: contain;
}

a.nav-link-cozy[href$="blog.html"] {
    background-image: url(images/blog.png);
    background-size: contain;
}

a[href$="contact.html"] {
    background-image: url(images/contact.png);
    background-size: contain;
}

.navbar-cozy {
    border-bottom: 1px solid #E2E8F0;
    background-color: #9DCFC0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}


.hamburger-cozy {
    display: none;
}

.bar-cozy {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu-cozy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item-cozy {
    margin-left: 5rem;
}

.nav-link-cozy {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link-cozy:hover{
    color: #FB0AB2;
}

.nav-logo-cozy {
    max-height: 100px;
    align-items: start;
}

.p-4 {
    background-color: #f5cbe9;
}

.p-md-5 {
    display: flex;
    background-color: antiquewhite;
}

.social-links-cozy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-img {
    width: 200px;
    height: 200px;
}

.footer-img {
    width: 100px;
    height: 100px;
}

.flip-box {
    background-color: transparent;
    width: 500px;
    height: 500px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #e9ecef;
  }
  
  .flip-box-back {
    background-color: #e9ecef;
    transform: rotateY(180deg);
  }

button {
    border: 0;
    background: #b1d8b7;
    border-radius: 4px;
    box-shadow: 0 5px 0 #9dcfc0;
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
  }
  button:active {
    box-shadow: 0 2px 0 #9dcfc0;
    transform: translateY(3px);
  }

@media only screen and (max-width: 768px) {
    .nav-menu-cozy {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu-cozy.active {
        left: 0;
    }

    .nav-item-cozy {
        margin: 2.5rem 0;
    }

    a[href$="about.html"] {
        background-image: url(images/about_white.png);
        background-size: contain;
    }
    
    a[href$="guides.html"] {
        background-image: url(images/gameguides_white.png);
        background-size: contain;
    }
    
    a.nav-link-cozy[href$="blog.html"] {
        background-image: url(images/blog_white.png);
        background-size: contain;
    }
    
    a[href$="contact.html"] {
        background-image: url(images/contact_white.png);
        background-size: contain;
    }

    .hamburger-cozy {
        display: block;
        cursor: pointer;
    }

    .hamburger-cozy.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-cozy.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-cozy.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .p-md-5 {
        flex-direction: column;
    }

    .flip-box {
        display: none;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .social-links-cozy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}