* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%; 
}

li {
    list-style: none;
}

a {
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-left: 35px;
    text-decoration: none;
}

a[href$="about.html"] {
    background-image: url(images/about.png);
    background-size: contain;
}

a[href$="guides.html"] {
    background-image: url(images/gameguides.png);
    background-size: contain;
}

a[href$="blog.html"] {
    background-image: url(images/blog.png);
    background-size: contain;
}

a[href$="contact.html"] {
    background-image: url(images/contact.png);
    background-size: contain;
}

.header-cozy {
    border-bottom: 1px solid #E2E8F0;
    background-color: #9DCFC0;
    width: 100%;
}

.navbar-cozy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-image: url(images/IMG_5298.JPG);
    background-size: 75px;
    background-repeat: no-repeat;
}


.hamburger-cozy {
    display: none;
}

.bar-cozy {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu-cozy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item-cozy {
    margin-left: 5rem;
}

.nav-link-cozy {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link-cozy:hover{
    color: #FB0AB2;
}

.nav-logo-cozy {
    font-size: 2.1rem;
    font-weight: 500;
    color: #FB0AB2;
    padding-left: 50px;
}

.p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary {
    background-color: #f5cbe9;
}

@media only screen and (max-width: 768px) {
    .nav-menu-cozy {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu-cozy.active {
        left: 0;
    }

    .nav-item-cozy {
        margin: 2.5rem 0;
    }

    a[href$="about.html"] {
        background-image: url(images/about_white.png);
        background-size: contain;
    }
    
    a[href$="guides.html"] {
        background-image: url(images/gameguides_white.png);
        background-size: contain;
    }
    
    a[href$="blog.html"] {
        background-image: url(images/blog_white.png);
        background-size: contain;
    }
    
    a[href$="contact.html"] {
        background-image: url(images/contact_white.png);
        background-size: contain;
    }

    .hamburger-cozy {
        display: block;
        cursor: pointer;
    }

    .hamburger-cozy.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-cozy.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-cozy.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

}